.container-gallery {
  max-width: 970px;
}

.maps {
  display: flex;
  flex-direction: column;
  gap: 70px;
  width: 100%;
  margin-top: 210px;
}

.element {
  display: flex;
  gap: 80px;

  &__info {
    display: block;
    width: 350px;
  }

  &__name {
    @include font($extra-bold, $font-16, $dark);
    text-align: justify;
    line-height: 20px;
    letter-spacing: 0.8px;
  }

  &__description {
    display: block;
    width: 100%;
    text-align: justify;
    letter-spacing: 0.8px;
  }

  &__paint {
    margin-top: 25px;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0.8px;
  }

  &:not(:first-child) {
    order: 1;
  }

  &__img {
    display: flex;

    flex-wrap: wrap;

    row-gap: 40px;
    column-gap: 20px;

    max-width: 540px;
  }
}

.first-img {
  display: block;
  width: 100%;
}

.sections-nav {
  margin-top: 128px;
  margin-bottom: -10px;

  &__box {
    width: 724px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    list-style-type: none;

    margin: 0;
    padding: 0;

    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__element {
    @include font($normal, $font-14, $grey);
    text-align: center;
    line-height: 24px;
    letter-spacing: 0.7px;
  }

  &__link {
    text-decoration: none;
    color: $grey;
    letter-spacing: 0.7px;
  }

  &__text {
    display: inline-block;
    @include font($normal, $font-14, $grey);
    text-align: center;
    line-height: 24px;
    letter-spacing: 0.7px;

    padding: 1px 4px;
    margin-top: -5px;

    &:hover {
      background: $dark;

      .accent-dot {
        color: red;
      }
    }

    &:hover .navigation__link {
      color: $white;
    }
  }
}

.nav__dot {
  display: inline-block;
  margin-left: 4px;
  padding: 0;
}

.active-link {
  color: $dark;

  .accent-dot {
    color: $aсcent;
  }
}
