.biography {
  max-width: 970px;
  height: 100%;

  &__links {
    display: flex;
    gap: 15px;
    justify-content: center;

    text-align: center;

    .biography__link {
      background: none;
      border: none;
      padding: 0;
      margin: 0;
      color: inherit;
      font: inherit;
      cursor: pointer;
      outline: none;

      padding: 1px 6px;
      letter-spacing: 0.8px;

      &:hover {
        background: $dark;
        color: $white;
      }
    }
  }

  &__bio {
    &-text {
      column-count: 2;
      column-gap: 80px;
      line-height: 20px;
    }

    &-images {
      margin-top: 100px;
      display: flex;
      gap: 80px;
    }
  }

  &__personal {
    display: flex;
    gap: 208px;

    &-text {
      display: flex;
      flex-wrap: wrap;

      .personal-data {
        display: flex;
        gap: 20px;
      }

      .personal-text {
        line-height: 25px;
        /* 156.25% */
      }
    }

    &-img {
    }
  }

  &__group {
    &-text {
      column-count: 2;
      column-gap: 80px;
      line-height: 20px;

      .personal-data {
        display: flex;
        gap: 20px;
      }

      .personal-text {
        line-height: 25px;
      }
    }

    &-img {
    }
  }
}
