.work-projects {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: min-content;
  justify-content: center;
  gap: 65px;

  margin-bottom: 120px;

  &__link {
    color: $dark;
  }

  .image-box {
    display: grid;
    grid-template-rows: min-content min-content;
  }

  &__img {
  }

  &__text {
    margin-top: 20px;
    @include font($normal, $font-16, $dark);
    text-align: center;
    letter-spacing: 0.8px;
    line-height: 20px;
  }
}

.image-box {
  box-sizing: border-box;
}

@media (max-width: 940px) {
  .work-projects {
    grid-template-columns: min-content;
    gap: 40px;
    margin-bottom: 20px;

    &__link {
      color: $white;
    }

    &__text {
      @include font($normal, $font-16, $white);
      text-decoration-line: underline;
    }
  }
}
