.horizon-colonization {
  line-height: 0;

  .element {
    &:nth-child(1) {
      .element__owerview {
        text-align: justify;
        margin-bottom: 23px;
      }

      .element__paint {
        &:nth-child(2) {}

        &:nth-child(3) {}

        &:nth-child(4) {}

        &:not(:nth-child(2)) {}
      }

      .image-box {
        &__1 {}
      }
    }

    &:nth-child(2) {
      .element__owerview {}

      .element__paint {
        &:nth-child(2) {}

        &:not(:nth-child(2)) {}

        &:nth-child(3) {}
      }

      .image-box {
        &__4 {}
      }
    }

    &:nth-child(3) {
      .element__owerview {}

      .element__paint {
        &:not(:nth-child(2)) {}

        &:nth-child(3) {}
      }
    }
  }
}


@media (max-width: 1024px) {
  .horizon-colonization {

    .image-wrapper {
      height: 310px;

      &::after {
        content: '';
        bottom: 30px;
      }
    }
  }
}