.waiting-zone {
  line-height: 0;

  .element {
    &:nth-child(1) {
      .element__info {
        grid-template-rows: min-content min-content auto;
      }

      .element__owerview {
        text-align: justify;
        margin-bottom: 23px;
      }

      .element__paint {
        &:nth-child(3) {
          text-align: right;
          align-self: end;
          font-style: italic;
        }
      }

      .image-box {
        &__5 {
          margin-left: 133px;
        }

        &__12 {
          margin-left: 46px;
        }
      }
    }

    &:nth-child(2) {
      .element__owerview {
        margin-bottom: 70px;
      }

      .element__paint {
        &:nth-child(2) {
          text-align: right;
        }

        &:nth-child(3) {
          margin-top: 40px;
        }
      }

      .image-box {
        &__6 {
          margin-left: 71px;
        }
      }
    }

    &:nth-child(3) {
      position: relative;
      margin: 80px 0;
      z-index: 20;

      &:after {
        position: absolute;
        content: '';
        padding: 80px 0;
        width: 100vw;
        height: 100%;
        top: -80px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $dark;

        z-index: -1;
      }

      .element__owerview {
        color: $white;
        margin-bottom: 260px;
      }

      .element__paint {
        &:not(:nth-child(2)) {
          margin-top: 20px;
          height: 100px;
        }

        &:nth-child(3) {
          margin-top: 40px;
        }
      }

      .image-box::before {
        border: 1px solid $white;
      }

      .image-box {
        &__5 {
          margin-right: 20px;
        }

        &__10 {
          margin-right: 20px;
        }
      }
    }

    &:nth-child(4) {
      .element__owerview {
        margin-bottom: 350px;
      }

      .element__paint {
      }

      .image-box {
      }
    }
  }
}

//Mobil
@media (max-width: 940px) {
  .waiting-zone {
    line-height: 0;

    .element {
      &:nth-child(1) {
        .element__info {
          grid-template-rows: auto;
        }

        .element__owerview {
          margin-bottom: 0px;
        }

        .element__paint {
          display: block;

          &:nth-child(2) {
            overflow: hidden;
            position: relative;
            transition: max-height 0.5s ease;
            max-height: 400px;
          }

          &:nth-child(2).folded {
            max-height: 400px;
          }

          &:nth-child(2).unfolded {
            max-height: none;
          }

          &:nth-child(4) {
            display: none;
          }
        }

        .toggle--0 {
          display: block;
        }
      }

      &:nth-child(2) {
        .element__owerview {
          margin-bottom: 0px;
        }

        .element__paint {
          &:nth-child(2) {
            text-align: right;
          }

          &:nth-child(3) {
            margin-top: 0px;
          }
        }

        .image-box {
          &__6 {
            margin-left: 0px;
          }
        }
      }

      &:nth-child(3) {
        position: relative;
        margin: 0 0;
        z-index: 0;

        &:after {
          background-color: transparent;
        }

        .element__owerview {
          color: $dark;
          margin-bottom: 0px;
        }
      }

      &:nth-child(4) {
        .element__owerview {
          margin-bottom: 0px;
        }

        .element__paint {
        }

        .image-box {
        }
      }
    }
  }
}
