.create-miracles {
  line-height: 0;
  margin-bottom: 160px;
}
.create-miracles .element:nth-child(1) .element__info {
  grid-template-rows: max-content auto 128px;
}
@media (max-width: 1024px) {
  .create-miracles .element:nth-child(1) .element__paint:nth-child(4) {
    margin-top: 16px;
  }
}
.create-miracles .element:nth-child(1) .image-wrapper {
  gap: 20px;
}