.notebooks {
  line-height: 0;
}
.notebooks .element:nth-child(1) .element__owerview {
  text-align: justify;
}
.notebooks .element:nth-child(1) .element__img {
  flex-wrap: nowrap;
}
.notebooks .element:nth-child(2) .element__paint:nth-child(2) {
  margin-top: 40px;
}
.notebooks .element:nth-child(3) .image-wrapper {
  gap: 30px;
}
.notebooks .element:nth-child(4) .image-box__5 {
  margin-right: 121px;
}
.notebooks .element:nth-child(5) .image-box__0 {
  margin-right: 264px;
}