.soup-of-the-day {
  line-height: 0;
}
.soup-of-the-day .element:nth-child(1) .element__owerview {
  text-align: justify;
  margin-bottom: 25px;
}
.soup-of-the-day .element:nth-child(1) .element__img {
  flex-wrap: nowrap;
}
.soup-of-the-day .element:nth-child(1) .image-box__0 {
  margin-bottom: 20px;
}
.soup-of-the-day .element:nth-child(1) .image-box__1 {
  margin-left: 20px;
  margin-bottom: 20px;
}
.soup-of-the-day .element:nth-child(1) .image-box__2 {
  margin-left: 58px;
}
.soup-of-the-day .element:nth-child(2) .image-wrapper {
  gap: 45px;
}
.soup-of-the-day .element:nth-child(3) .element__paint:not(:nth-child(2)) {
  margin-top: 20px;
  height: 100px;
}
.soup-of-the-day .element:nth-child(3) .element__paint:nth-child(3) {
  margin-top: 380px;
}
.soup-of-the-day .element:nth-child(3) .image-box__1 {
  margin-left: 58px;
}
