//Header
.main__main-screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @include font($normal, $font-16, $dark);
  letter-spacing: 0.8px;
  background: $white;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  background: $white;

  @media (max-width: 1280px) {
    background: $dark;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    margin: 35px 0 0px;
    padding: 0 20px;
    width: 100%;

    @media (max-width: 1280px) {
      margin: 35px 0 0px;
      padding: 0 20px;
      box-sizing: border-box;
    }

    @media (max-width: 1280px) {
      margin: 0;
      padding: 0 0 0 20px;
      box-sizing: border-box;
    }
  }

  .menu-button {
    display: none;

    text-align: center;
    @include font($extra-bold, $font-16, $white);
    line-height: normal;
    letter-spacing: 2.4px;

    background: #767676;
    height: 100%;
    padding: 0px 11px;

    cursor: pointer;
    z-index: 100;
  }

  @media (max-width: 1280px) {
    .navigation {
      display: none;
    }

    .menu-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70px;
    }
  }
}

.logo {
  margin-left: -6px;
  width: 146px;
  height: 27px;
  background-image: url(/KATKART.svg);

  &:hover {
    background-image: url(/KATKART-dark.svg);
  }

  @media (max-width: 1280px) {
    width: 109px;
    height: 24px;
    margin-top: 10px;
    background-image: url(/KATKART-dark.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.navigation {
  margin-top: 5px;

  &__container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    list-style-type: none;
    gap: 31px;
    margin: 0;
    padding: 0;

    margin-right: -6px;
  }

  &__element {
    padding: 1px 6px;
    @include font($normal, $font-16, $dark);

    @media (hover: hover) {
      &:hover {
        background: $dark;
      }

      &:hover .navigation__link {
        color: $white;
      }
    }
  }

  &__main {
    text-transform: uppercase;
    margin-right: 38px;
  }

  &__link {
    letter-spacing: 0.8px;
    text-decoration: none;
    color: $dark;

    &--main {
      letter-spacing: calc(0.5em);
      padding-right: calc(0.5em - 0.5em);
      margin-right: calc(-0.5em);
    }

    &:hover {
      color: #fff;

      .accent-dot {
        color: $aсcent;
      }
    }
  }
}

.language-switcher {
  @include font($normal, $font-16, $dark);
  background-color: transparent;
  transition:
    background-color 0.3s,
    color 0.3s;

  &__option {
    text-decoration: none;
    color: $dark;
    padding: 1px 6px;

    &--ru {
      color: $dark;
      position: relative;
      padding: 1px 0 1px 6px;

      &:hover {
        color: #fff;

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 40px;
          height: 22px;
          background-color: $dark;
          transform: translateY(-50%);
          z-index: -1;
          transition: background-color 0.3s;
        }
      }
    }

    &--en {
      color: $dark;
      position: relative;
      padding: 1px 6px 1px 0;

      &:hover {
        color: #fff;

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          width: 40px;
          height: 22px;
          background-color: $dark;
          transform: translateY(-50%);
          z-index: -1;
          transition: background-color 0.3s;
        }
      }
    }
  }

  &__dot {
    color: $aсcent;
    padding: 0 6px;
    line-height: 0;
    z-index: 1;
  }
}

.splitter {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;

  @media (max-width: 1280px) {
    position: absolute;
    bottom: 0px;
  }

  &__element {
    display: block;
    position: relative;
    top: 0;

    width: 42px;
    height: 60px;

    -webkit-animation: linear;
    -webkit-animation-name: walkLeft;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: 1;

    @media (max-width: 1280px) {
      width: 22.4px;
      height: 32px;

      background-size: contain;
    }
  }

  &__line {
    margin-top: -4px;
    width: 100%;
    height: 12px;
    background-image: url(/splitter.svg);
    background-repeat: repeat-x;
    background-origin: padding-box;

    @media (max-width: 1280px) {
      display: none;
    }
  }
}

@-webkit-keyframes walkRight {
  0% {
    left: -100px;
  }

  100% {
    left: calc(100% + 100px);
  }
}

@-webkit-keyframes walkLeft {
  0% {
    right: -100%;
  }

  100% {
    right: calc(100% + 100px);
  }
}


// .body--no-scroll {
//   overflow: hidden;
//   position: fixed;
//   /* Для предотвращения скролла на iOS */
//   width: 100%;
//   top: 0;
// }

.navigation.open {
  box-sizing: border-box;
  display: block;
  position: absolute;

  margin-top: 70px;
  padding: 0 40px;

  width: 100%;
  height: calc(100vh - 70px);
  left: 0px;

  background: $white;

  .navigation__container {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(300px, 400px);
    grid-template-rows: repeat(5, 45px);

    list-style-type: none;
    margin: 40px 0 0 0;
    gap: 0;
  }

  .navigation__element {
    display: block;
    box-sizing: border-box;
    max-width: 400px;
    padding: 13px 0px;
    margin: 0;
    @include font($normal, $font-16, $dark);
    text-align: center;
    align-items: center;

    border: 1px solid $dark;
  }

  .language-switcher {
    display: block;
    box-sizing: border-box;
    max-width: 400px;
    padding: 12px 0px;
    margin: 0;
    @include font($normal, $font-16, $dark);
    text-align: center;
    align-items: center;

    border: 1px solid $dark;
  }
}