main {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include font($normal, $font-16, $dark);

  background: $white;
}

.container {
  max-width: 1280px;
}

p {
  margin: 0;
  line-height: normal;
  text-align: justify;

  .bold {
    font-weight: 700;
  }
}
