main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @include font($normal, $font-16, $dark);
  letter-spacing: 0.8px;
  background: $white;
}

.container {
  max-width: 1280px;
}

p {
  margin: 0;
  line-height: normal;
  text-align: justify;

  .bold {
    font-weight: 700;
  }
}

.maps,
.mosaics,
.waiting-zone,
.horizon-colonization,
.artworks,
.soup-of-the-day,
.notebooks,
.early-works,
.antarctic-diary,
.work-projects,
.biography {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100%;
  margin-top: 210px;
}
