* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  /* Устанавливаем минимальную высоту для html и body */
  margin: 0;
  /* Убираем отступы */


  overflow-x: hidden;

}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: minmax(300px, 100%);
  justify-content: center;

  background: $white;
  @include font($normal, $font-16, $dark);
  letter-spacing: 0.8px;
  font-family: $family;

}

footer {
  grid-row-start: 2;
  /* Футер всегда начинается со второго ряда */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.8px;
  height: 100%;

  @media (max-width: 1280px) {
    padding: 0 20px;
  }
}

.container {
  max-width: 1280px;
}

p {
  margin: 0;
  line-height: normal;
  text-align: justify;

  .bold {
    font-weight: 700;
  }
}

.under {
  color: $dark;
  text-decoration-line: underline;
}

button {
  background: none;
  color: inherit;
  border: none;

  font: inherit;
  cursor: pointer;
}

.maps,
.mosaics,
.waiting-zone,
.horizon-colonization,
.artworks,
.soup-of-the-day,
.notebooks,
.early-works,
.antarctic-diary,
.work-projects,
.biography,
.memorial-objects,
.right-to-rest {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100%;
  margin-top: 210px;

  @media (max-width: 768px) {
    margin-top: 90px;
    gap: 40px;
  }
}

.biography {
  margin-bottom: 100px;

}


.contact {
  // margin-bottom: 60px;
  // height: calc(100vh - 330px);
}

/* Переопределение фона модального окна */
.fancybox-bg {
  background: $white !important;
}

/* Переопределение стилей кнопок */
.fancybox-button--close,
.fancybox-button--arrow_left,
.fancybox-button--arrow_right {
  background: white !important;
}

/* Переопределение цвета заголовка */
.fancybox-title {
  color: white !important;
}