@import 'src/style/normolize/_normalize.scss';
@import 'src/style/variables.scss';
@import 'src/style/main-page.scss';
@import '/src/style/header.scss';
@import '/src/style/first-screen.scss';
@import '/src/style/about.scss';
@import '/src/style/collage.scss';
@import '/src/style/footer.scss';

@import '/src/app/pages/Gallery/gallery.scss';
@import '/src/style/pagesStyle/maps.scss';
@import '/src/style/pagesStyle/mosaics.scss';

@import '/src/style/pagesStyle/waiting-zone.scss';
@import '/src/style/pagesStyle/horizon-colonization.scss';
@import '/src/style/pagesStyle//artworks.scss';
@import '/src/style/pagesStyle/soup-of-the-day.scss';
@import '/src/style/pagesStyle/notebooks.scss';
@import '/src/style/pagesStyle/early-works.scss';
@import '/src/style/pagesStyle/antarctic-diary.scss';

@import '/src/style/Menu/work-projects.scss';
@import '/src/style/Menu/biography.scss';
@import '/src/style/Menu/contact.scss';

@import '/src/app/pages/FancyBox/fancybox.scss';
