@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@mixin font($weight, $size, $color) {
  font-weight: $weight;
  font-size: $size;
  font-family: $family;
  color: $color;
}

$normal: 400;
$bold: 600;
$extra-bold: 700;

$font-48: 48px;
$font-20: 20px;
$font-32: 32px;
$font-16: 16px;

$family: 'Carlito', sans-serif;
$family-accent: 'Anonymous Pro', monospace;

$white: rgb(249, 249, 249);
$grey: rgb(224, 224, 224);
$dark: rgb(97, 97, 97);
$dark-grey: rgb(118, 118, 118);
$aсcent: rgb(255, 3, 3);
